.logo{
    color: var(--color-primary);
    font-size: 35px;
    font-family: Arial;
    text-transform:none;
    font-weight:700;
}

.footer-logo:hover{
    color: var(--color-secondary);
}

.footer{
    padding: 3rem 0;
}

.footer-social{
    display:flex;
    align-items:center;
}

.footer-social li a{
    color: var(--color-primary);
}

.footer-social li ~ li{
    margin-left:15px;
}

.footer-social li a i{
    font-size:1.5rem;
    transition:all 0.3s ease;
}

.footer-social li:hover a i{
    color: var(--color-secondary);
}

.footer-contact-title{
    text-transform: uppercase;
    color: var(--txt-white);
    font-size: 1.2rem;
    font-weight:600;
}

.footer-submit-form input{
    height:100%;
    padding:10px 15px;
    outline:none;
    border: none;
}